

{% extends "registration/base.html" %}
{% load i18n %}
{% load template_tags %}
{% block title %}{% trans "Password recovery" %}{% endblock %}
{% block content %}
<h3 class="login-panel-header arches-signin">{% trans "Password Recovery" %}</h3>
<p class="arches-signin-subtext">Enter the email address used to register for account to reset password.</p>
	<form method="post" action="{{ url }}">
		<div class="form-group">

			{% csrf_token %}
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><i class="text-lg ion-log-in"></i></div>
					<input type="email" class="form-control input-lg" placeholder='Email' name='email' required id="id_email">
					<!--{{ form.email.errors }}
					{{ form.email}}-->
					{% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <div style="color:darkred">{{ error|escape }}</div>
                            {% endfor %}
                            {% endif %}
				</div>
			</div>
			<div class="arches-signin-btn">
				<button class="btn btn-primary btn-lg btn-block" type="submit">{% trans "Recover my password" %}</button>
			</div>
		</div>

	</form>
	<div class="panel-footer">
        Learn more about the <a href="https://www.archesproject.org/demo">{% trans "Arches v5 Demo" %}</a>
    </div>
{% endblock %}
